doctype html
html(lang='en')
    include ../common/head.pug
    +head("Points")
    body
        include ../common/navbar.pug
        +navbar()
        .container
            .row.align-items-center
                .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
                    p Enter the coordinate x of the Point:
                    p
                        input(type='text', name='point_coordinate_x', id='point_coordinate_x', value='')
                    p Enter the coordinate y of the Point:
                    p
                        input(type='text', name='point_coordinate_y', id='point_coordinate_y', value='')
                    p Enter the Date of the Point:
                    p
                        input(type="date",name='date_point', id='date_point', data-date-inline-picker="true",)
                    p
                        button(onclick=`createPoint($('#point_coordinate_x').val(),$('#point_coordinate_y').val(), $('#date_point').val())`).btn.btn-primary Create Point
        .container
            .row.align-items-center
                    h1 Points
                        table.table(id="table_pointing")
                            thead
                                tr
                                    th(scope="col") Coordinate x
                                    th(scope="col") Coordinate y
                                    th(scope="col") Date
                                    th(scope="col") Status
                                    th(scope="col") Delete
                                tr
                            tbody(id="table_routing")
                                for point in points
                                    tr(id=point.id)
                                        td
                                                span #{point.coordinate_x}
                                        td
                                                span #{point.coordinate_y}
                                        td
                                                span #{point.reachedAt}
                                        td
                                                |OK
                                        td
                                                button(onclick=`deletePoint('${point.id}')`).btn.btn-primary Delete


        include ../common/footer.pug
        +footer()
        script(src='/javascripts/points.js')